<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card shadow-lg p-4">
            <h1 class="text-center p-lg-3">Edit Profile</h1>
            <form action="" method="post">
                <label for="first_name" class="form-label">First Name</label><br>
                <input type="text" name="first_name" id="first_name" value="{{user.first_name}}" class="form-control"><br>
                <label for="last_name" class="form-label">Last Name</label><br>
                <input type="text" name="last_name" id="last_name" value="{{user.last_name}}" class="form-control"><br>
                <label class="form-label">Gender</label><br>
                <input type="radio" id="male" name="gender" value="male" {%if user.gender == 'male'%}checked{%endif%}>
                <label for="male" class="form-label">Male</label>
                <input type="radio" id="female" name="gender" value="female" {%if user.gender == 'female'%}checked{%endif%}>
                <label for="female" class="form-label">Female</label>
                <input type="radio" id="others" name="gender" value="others" {%if user.gender == 'others'%}checked{%endif%}>
                <label for="others" class="form-label">Others</label><br><br>
                <label for="phone_number" class="form-label">Phone Number</label><br>
                <input type="tel" name="phone_number" id="phone_number" value="{{user.phone_number}}" class="form-control"><br>
                <label for="email" class="form-label">Email</label><br>
                <input type="email" name="email" id="email" value="{{user.email}}" class="form-control"><br>
                <label for="username" class="form-label">Username</label><br>
                <input type="text" name="username" id="username" value="{{login.username}}" class="form-control"><br>
                <label for="password" class="form-label">Password</label><br>
                <input type="password" name="password" id="password" value="{{login.password}}" class="form-control"><br>
                <input type="submit" value="Update" name="update" id="update" class="btn btn-primary">
            </form>
        </div>
    </div>
</body>
</html>